* {
  border: none;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.pink {
  background-color: #e91e63;
  color: #e91e63;
}
.purple {
  background-color: #8e24aa;
  color: #8e24aa;
}
.blue {
  background-color: #2196f3;
  color: #2196f3;
}

.square {
  border-radius: 0;
}
.circle {
  border-radius: 50%;
}
.special {
  border: 10px solid red
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

  .count {
    font-weight: bold;
    font-size: 1.1vw;
    color: #5c6bc0;
  }

  .figures__dynamic {
    margin-top: 2vw;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2vw;

    border-bottom: 3px dashed #9fa8da
  }

  .figures__static {
    margin-top: 2vw;
    width: 40vw;
    display: flex;
    justify-content: space-around;
  }

    .figure {
      width: 10vw;
      height: 10vw;

      display: flex;
      justify-content: center;
      align-items: center;


      font-weight: bold;
      font-size: 1vw;
    }

    .dynamic {
      border: 9px dashed #9fa8da;
      color: #7986cb;
    }