.Game {
    /* background-color: #2b0d47; */
    height: 80vh;
    /* width: 80vw; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    border: 1px solid blueviolet;
    flex-direction: column;}

.Game__info {
  width: 80vw;
  text-align: center;
}

.Game__figures {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.figure {
  display: inline-block;
  width: 20vmin;
  height: 20vmin;
  background-color: transparent;
  border: 1px solid #673ab7;
  margin: 3vmin;
}

.figure--selection {
  cursor: pointer;
}