.Game {
    /* background-color: #2b0d47; */
    height: 80vh;
    /* width: 80vw; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid blueviolet; */
    flex-direction: column;
  }

.Game__info {
  width: 80vw;
  text-align: center;
  margin: 3vmin 0;
  font-size: calc(14px + 2vmin);
  color: violet;
}

.Game__figures {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 5vmin 0;
}

.figure {
  display: inline-block;
  width: 20vmin;
  height: 20vmin;
  background-color: transparent;
  border: 1px solid #673ab7;
  margin: 0 3vmin;
}

.figure--selection {
  cursor: pointer;
}